APP_SECRET=SECRET
DB_SECRET=SECRET

STRIPE_PUBLISHABLE_KEY=pk_test_blah
STRIPE_SECRET_KEY=sk_test_blah
STRIPE_WEBHOOK_SECRET=whsec_blah

GOOGLE_CLIENT_ID=hihi
GOOGLE_CLIENT_SECRET=hihi
LINKEDIN_CLIENT_ID=hihi
LINKEDIN_CLIENT_SECRET=hihi

TWILIO_ACCOUNT_ID=ACblah
TWILIO_AUTH_TOKEN=blahblah
TWILIO_FROM=+18887778888
TWILIO_SERVICE_SID=MGblahblah

EMAIL_FROM="ThinkingAtoms <abc@def.com>"
EMAIL_HOST=smtp.gmail.com
EMAIL_USER=abc@def.com
EMAIL_PASSWORD=password1
